.footer {
    flex: 0 0 auto;
}

.footer-top{
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #f9f9f9;
}

.footer-top .fa{
    font-size:18px;
    color: #428bca;
    padding-right:10px;
}

.footer-top a{
    color: #428bca;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color: #000000;
}

.copyright p{
    color: #000000;
    font-size:13px;
    padding:15px 0 10px 0;
}